<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /livestocktracker/
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*) launch.php?_url=/$1 [QSA,L]
	RewriteRule ^.* launch.php?_url=/home [QSA,L]
</IfModule>
